kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: openldap-operator-test
nodes:
- role: control-plane
# Use native snapshotter instead of overlayfs
containerdConfigPatches:
- |-
  [plugins."io.containerd.grpc.v1.cri".containerd]
    snapshotter = "native"
